html{
    margin-top: 0px;
    
}
body{
	font-family: Fjalla One, Sans Serif;
	text-align: center;
}

nav{
    margin-bottom: 0px;
    width:100%;
    background: black;
    top: 0px;
}

li.nav{
	display: inline;
	color: white;
	font-size: 32px;
}

.cart{

  padding-top: 10px;
  padding-left: 10px;
}

ul.nav{
	list-style-type: none;
	background-color: black;
	margin-top: 0px;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 0px;
	padding-bottom: 10px;
}

a.nav:link{
	text-decoration: none;
	color: white;
	margin-top: 50px;
	margin-bottom: 10px;
	padding: 8px;
  padding-left: 15px;
  padding-right: 15px;
}

a.nav:visited{
	text-decoration: none;
	color: white;
}

a.nav:hover{
	text-decoration: none;
	color: #33CCFF;
}

a.nav:active{
	text-decoration: none;
	color: white;
}

div.ingredients{
	text-align: center;
}

img{
	padding-left: 2px;
	padding-right: 2px;
	padding-top: 0px;
	padding-bottom: 2px;
}

a.buy:link{
	color: black;
}

a.buy:visited{
	color: black;
}

a.buy:hover{
	color: blue;
}

a.buy:active{
	color: black;
}

p{
	margin-left: 12.5%;
	margin-right: 12.5%;
}


.circle {
    width: 200px;
    height: 200px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    margin-right: 200px;
    border: 1px solid;
}

.cirlceImage{
    width: 300px;
    height: 300px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
}

.chili{
  //position: relative;
  top: - 300px;
}

table{
    display: block;
    position: relative;
    top: -125px;
    margin-left: auto;
    margin-right: auto; 
    max-width: 900px; 
    padding-left: 100px;
    
}

tr{
    max-width: 500px; 
}

td{
    text-decoration: none;
    color:inherit;
    font-size: 20px;
}

a.td{
text-decoration: none;
}

.WJLOGO{
    width: 300px;
    height: 300px;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    position: relative;
    top:-150px;
    
}

/*SlideShow relevant things*/


.Slideshow{
    position: relative;
    display: block;
    overflow: hidden;
    max-height: 325px;
    margin: 0px;
    
  
}
figure{
  position: absolute;
  opacity: 0;
  transition: 1s opacity;
    width: 100%;
    margin: 0px;
}

figure.show{
  opacity: 1;
  position: static;
  transition: 1s opacity;
    width: 100%;
}
.next, .prev{
  color: #fff;
  position: absolute;
  background: rgba(0,0,0, .6);
  top: 50%;
  z-index: 1;
  font-size: 2em;
  margin-top: -.75em;
  opacity: .1;
  user-select: none;
}
.next:hover, .prev:hover{
  cursor: pointer;
transition: .5s opacity;
    opacity: .8;
}

.next{
  right: 0;
  padding: 10px 5px 15px 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.prev{
  left: 0;
  padding: 10px 10px 15px 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.FBSVG{
    height:100px;
}

figcaption{
  position: absolute;
  
  font-size: 2em;
  top: .1em;
  left: 0.01em;
  padding: .25em;
  color: #fff;
  background: rgba(0,0,0, .25);
  border-radius: 2px;
}


div.footer{
  background-color: black;
  margin-bottom: 0;
}

a.footer{
  margin-bottom: 50px;
}

a.footer:link{
  text-decoration: none;
  color: white;
}

a.footer:visited{
  text-decoration: none;
  color: white;
}

a.footer:hover{
  text-decoration: none;
  color: #33CCFF;
}

a.footer:active{
  text-decoration: none;
  color: white;
}

ul.footer{
  list-style-type: none;
  background-color: black;
  position: relative;
  margin-bottom: 0;
  position: absolute;
  min-height: 150px;
  width: 100%;
}

li.footer{
  color: white;
}

nav.header{
  margin-top: 0;
}

nav.footer{
  margin-bottom: 0;
}

.footer_text{
  width: 235px;
text-align: left;
}